ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
GOOGLE_API_KEY=
GOOGLE_VOICE=
GOOGLE_APPLICATION_CREDENTIALS=
CHIRP3_VOICE=
DASHSCOPE_API_KEY=
QWEN_VOICE=
QWEN_BASE_URL=
QWEN_VOICE_PROMPT=
QWEN_VOICE_CACHE=
YANDEX_API_KEY=
YANDEX_VOICE=
